# Python cache
__pycache__/
*.pyc

# Compiled C binaries
*.o
*.out
src/headertoyaml
test/headertoyaml

# Ignore all outputs except sample/demo files
output/*
!output/sample_*

# Ignore virtual environment directories
venv/
.venv/